/* tables */
.sortableTable  {
	font-family:arial;
	background-color: #ffcc00;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
.sortableTable  thead tr th, .sortableTable  tfoot tr th {
	background-color: #ffcc00;
	border: 1px solid #FFF;
	font-size: 8pt;
	font-family: highschoolfootball;
	padding: 4px;
}
.sortableTable  thead tr .header {
	background-image: url(../images/sortableTable/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.sortableTable  tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
.sortableTable  tbody tr.odd td {
	background-color:#F0F0F6;
}
.sortableTable  thead tr .headerSortUp {
	background-image: url(../images/sortableTable/asc.gif);
}
.sortableTable  thead tr .headerSortDown {
	background-image: url(../images/sortableTable/desc.gif);
}
.sortableTable  thead tr .headerSortDown, .sortable  thead tr .headerSortUp {
background-color: #8dbdd8;
}
